<div>
	<small>on {{ item.category.name }}</small>
	<h1>{{ item.name }}</h1>
	{{ item.description }}<br>
	{{ item.price }}<br>
	{{ item.stock }}<br>
	<img class="item-photo" src="/uploads/{{ item.photo }}">
</div>